/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 16px;
}

.section-title{
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}





/* */
.humburger{
  display: none;
}




/* For small devise */
@media screen and (max-width: 576px) {
  
  .nav-item, .nav-btn{
    display: none;
  }
  .humburger{
    display: block;
  }
  .section-title{
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
}

}
