/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */

.container{
  max-width: 1300px;
  margin: 0 auto;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 40px;
  background: linear-gradient(90deg, #ff3cac, #784ba0, #2b86c5);
  box-shadow: 0 0 20px rgba(255, 60, 172, 0.6);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}
.btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 0 30px rgba(255, 60, 172, 0.9);
}

.section-title{
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

/* header */
header{
  background-color: #1A0B2E;
  color: white;

}
/* navBar */
.navbar{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
}
.logo span{
  color: #ff009d;
}

.nav-items{
  display: flex;
  gap: 2rem;
}



.humburger{
  display: none;
}

/* banner style */
/* #banner{
  position: relative;
  min-height: 100vh;
  background-image: url("/assets/hero-bg.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .logo{
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto 20px;
}

.circle {
  width: 100%;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  transform: translate(-50%, -50%);
}
 */


 /* about section style */
 #about{
  background-color: #1A0B2E;
 }

 .about-content{
  text-align: center;
 }

.about-heading .about-description{
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.8rem;
}


.podcast-record{
  color: white;
  border-top: 1px solid #8b8b8b;
  margin-top: 5rem;
  padding: 5rem 0rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.record h3{
  font-size: 3rem;
  font-weight: bolder;
  color: #00FF88;
}


/* Why Choose */



/* For small devise */
@media screen and (max-width: 576px) {
  
  .nav-item, .nav-btn{
    display: none;
  }
  .humburger{
    display: block;
  }
  .section-title{
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
}


.podcast-record{
  grid-template-columns: repeat(2,1fr);
}

}


/* For medium devise */
@media screen and  (min-width: 576px) and (max-width: 992px) {
  
  .podcast-record{
  grid-template-columns: repeat(3,1fr);
}


  
}